{
  "name": "${ENV_NAME}",
  "description": "",
  "cookbook_versions": {
  },
  "json_class": "Chef::Environment",
  "chef_type": "environment",
  "default_attributes": {
    "package_component": "grizzly",
    "floating": "false",
    "platform_family": "rhel"
  },
  "override_attributes": {
    "network_type": "${NETWORKTYPE}",
    "iptables": {"enabled": ${ENABLE_IPTABLES}},
    "openstack": {
      "developer_mode": ${DEVMODE},
      "mq": {
        "service_type": "${MQTYPE}"
      },
      "db": {
        "service_type": "${DBTYPE}",
        "bind_interface": "${DB_BIND_IF}",
        "compute": {
          "db_name": "nova",
          "host": "${DBHOST}",
          "port": "${DBPORT}",
          "db_type": "${DBTYPE}"
        },
        "identity": {
          "db_name": "keystone",
          "host": "${DBHOST}",
          "port": "${DBPORT}",
          "db_type": "${DBTYPE}"
        },
        "volume": {
          "db_name": "cinder",
          "host": "${DBHOST}",
          "port": "${DBPORT}",
          "db_type": "${DBTYPE}"
        },
        "network": {
          "db_name": "network",
           "host": "${DBHOST}",
           "port": "${DBPORT}",
           "db_type": "${DBTYPE}"
        },
        "dashboard": {
          "db_name": "horizon",
          "host": "${DBHOST}",
          "port": "${DBPORT}",
          "db_type": "${DBTYPE}"
        },
        "metering": {
          "db_name": "ceilometer",
          "host": "${DBHOST}",
          "port": "${DBPORT}",
          "db_type": "${DBTYPE}"
        },
        "image": {
          "db_name": "glance",
          "host": "${DBHOST}",
          "port": "${DBPORT}",
          "db_type": "${DBTYPE}"
        }
      },
      "compute": {
        "bind_interface": "${COMPUTE_BIND_IF}",
        "ec2": false,
        "network": {
          "service_type": "${NETWORKTYPE}",
          "plugins": ["openvswitch"],
          "${NETWORKTYPE}": {
            "libvirt_vif_driver": "nova.virt.libvirt.vif.LibvirtOpenVswitchVirtualPortDriver",
            "linuxnet_interface_driver": "nova.network.linux_net.LinuxOVSInterfaceDriver"
          },
	  "multi_host": true
        },
	"networks": [
          {
            "dns1": "${DNS1}",
            "bridge_dev": "${BRIDGEDEV}",
            "num_networks": "${VMNETNUM}",
            "label": "vmnet",
            "bridge": "${BRIDGE}",
            "network_size": "${VMNETSIZE}",
            "ipv4_cidr": "${VMNET}"
          }
        ], 
        "novnc_proxy": {
	   "bind_interface": "${VNC_BIND_IF}"
	},
        "xvpvnc_proxy": {
	   "bind_interface": "${VNC_BIND_IF}"
        },
        "libvirt": {
	   "bind_interface": "${LIBVIRT_BIND_IF}"
        },
        "db": {
          "username": "nova"
        },
        "mq": {
          "service_type": "${MQTYPE}",
          "qpid": {
            "host": "${MQHOST}"
           }
        }
      },
      "identity": {
        "bind_interface": "${IDENTITY_BIND_IF}",
        "db": {
          "username": "keystone"
        }
      },
      "image": {
        "api": {
          "bind_interface": "${IMAGE_BIND_IF}"
        },
        "registry": {
          "bind_interface": "${IMAGE_BIND_IF}"
        },
        "db": {
          "username": "glance"
        },
        "mq": {
	  "service_type": "${MQTYPE}",
          "qpid": {
            "host": "${MQHOST}"
          }
        },
        "image_upload": ${IMAGE_UPLOAD},
        "upload_images": [ "cirros", "precise" ],
        "upload_image": {
          "cirros": "${IMAGE_CIRROS_URL}",
	  "precise": "${IMAGE_PRECISE_URL}"
        }
      },
      "block-storage": {
        "db": {
          "username": "cinder"
        },
	"mq": {
	  "service_type": "${MQTYPE}",
          "qpid": {
            "host": "${MQHOST}"
          }
        }
      },
      "volume": {
        "db": {
          "username": "cinder"
        },
        "mq": {
          "service_type": "${MQTYPE}",
          "qpid": {
            "host": "${MQHOST}"
          }   
        }   
      },
      "network": {
        "api": {
          "bind_interface": "${NETWORK_API_BIND_IF}"
        },
        "networks": [
          {
            "dns1": "${DNS1}",
            "bridge_dev": "${BRIDGEDEV}",
            "num_networks": "${VMNETNUM}",
            "label": "vmnet",
            "bridge": "${BRIDGE}",
            "network_size": "${VMNETSIZE}",
            "ipv4_cidr": "${VMNET}"
          }
        ],
        "use_namespaces": "False",
        "metadata": {
          "nova_metadata_ip": "${COMPUTE_API_HOST}"
        },
	"quota": {
	  "port": "50"
        },
        "openvswitch": {
          "tenant_network_type": "${TENANT_NETWORK_TYPE}",
          "enable_tunneling" : "${ENABLE_TUNNELING}",
          "tunnel_id_ranges" : "${TUNNEL_ID_RANGES}",
          "local_ip_interface": "${OVS_NODE_IF}",
          "physical_network_interface": "${OVS_PHY_IF}",
          "bridge_mappings" : "${BRIDGE_MAPPING}",
          "network_vlan_ranges" : "${NETWORK_VLAN_RANGES}"
        },
        "l3": {
          "external_network_bridge_interface": "${FLOATING_IF}"
        },
        "db": {
          "username": "network"
        },
        "mq": {
          "service_type": "${MQTYPE}",
          "qpid": {
            "host": "${MQHOST}"
          }
        }
      },
      "dashboard": {
        "db": {
          "username": "horizon"
        }
      },
      "metering": {
        "db": {
          "username": "ceilometer"
        }
      },
      "endpoints": {
        "identity-api": {
          "host": "${IDENTITY_HOST}"
        },
        "identity-admin": {
          "host": "${IDENTITY_HOST}"
        },
        "image-api": {
          "host": "${IMAGE_HOST}"
        },
        "image-registry": {
          "host": "${IMAGE_HOST}"
        },
        "network-api": {
          "host": "${NETWORK_API_HOST}"
        },
        "volume-api": {
          "host": "${VOLUME_HOST}"
        },
        "compute-api": {
          "host": "${COMPUTE_API_HOST}"
        },
        "compute-ec2-api": {
          "host": "${EC2_API_HOST}"
        },
        "compute-ec2-admin": {
          "host": "${EC2_API_HOST}"
        },
        "compute-xvpvnc": {
          "host": "${XVPVNC_HOST}"
        },
        "compute-novnc": {
          "host": "${NOVNC_HOST}"
        }
      },
      "secret": {
        "db_passwords_data_bag": "db_passwords",
        "key_path": "/etc/chef/encrypted_data_bag_secret"
      }
    },
    "mysql": {
      "tunable": {
        "skip-name-resolve": true
      },
      "allow_remote_root": false,
      "db": {
        "bind_host": "0.0.0.0"
      },
      "remove_anonymous_users": true
    },
    "gpfs": {
      "gpfs_repo": {
         "url": "${GPFS_REPO_URL}"
      },
      "upgrade_rpms":"${GPFS_UPGRADE_RPMS_URL}",
      "max_data_replicas": "2",
      "default_data_replicas": "2",
      "max_metadata_replicas": "2",
      "default_metadata_replicas": "1",
      "block_size": "1M",
      "layoutMap": "cluster",
      "numNodes": "32",
      "writeAffinityDepth": "1",
      "logfilesize": "4M",
      "gpfs_device_name": "gpfs_dev",
      "cluster_name" : "${GPFS_CLUSTER_NAME}"
    },
    "yum": {
      "rhel": {
        "url": "${RHEL_REPO}",
	      "enabled": "1"
      },
      "openstack": {
        "url": "${OPENSTACK_REPO}",
	      "enabled": "1"
      },
      "sce": {
        "url": "${SCE_REPO}",
	      "enabled": "0"
      },
      "epel": {
        "url": "${EPEL_REPO}",
	      "enabled": "1"
      },
      "addition": {
        "url": "${MIDDLEWARE_REPO}",
	      "enabled": "1"
      }
    }
  }
}
