{
  "name": "${ENV_NAME}",
  "description": "",
  "cookbook_versions": {
  },
  "json_class": "Chef::Environment",
  "chef_type": "environment",
  "default_attributes": {
    "package_component": "grizzly",
    "floating": "false",
    "platform_family": "rhel"
  },
  "override_attributes": {
    "db_type": "${DBTYPE}",
    "mq_type": "${MQTYPE}",
    "network_type": "${NETWORKTYPE}",
    "iptables": {"enabled": ${ENABLE_IPTABLES}},
    "keystone": {
      "services": {
        "admin-api": {
          "network": "management"
        },
        "service-api": {
          "network": "nova"
        }
      }
    },
    "db2": {
      "url": "http://${PACKAGESERVER}:8080/db2_10.1/v10.1fp2_linuxx64_server.tar.gz",
      "odbc_url": "http://${PACKAGESERVER}:8080/db2_10.1/v10.1fp2_linuxx64_odbc_cli.tar.gz"
    },
    "mysql": {
      "allow_remote_root": true,
      "db": {
        "bind_host": "0.0.0.0"
      },
      "root_network_acl": "%"
    },
    "nova": {
      "notify_on_state_change": "vm_and_task_state",
      "notification_driver": "nova.openstack.common.notifier.rpc_notifier",
      "state_path": "/gpfs/gpfs_dev",
      "libvirt_images_type": "raw",
      "use_cow_images": "False",
      "platform": {
        "keystone_packages": [ "openstack-keystone", "python-iso8601", "python-argparse", "openstack-utils" ]
      },
      "networks": [
        {
          "dns1": "${DNS1}",
          "bridge_dev": "${BRIDGEDEV}",
          "num_networks": "${VMNETNUM}",
          "label": "vmnet",
          "bridge": "${BRIDGE}",
          "network_size": "${VMNETSIZE}",
          "ipv4_cidr": "${VMNET}"
        }
      ],
      "network": {
        "floating": {
          "ipv4_cidr": "172.16.99.0/24"
        },
        "vlan_interface": "${VLAN_INTERFACE}",
        "vlan_start": "${VLAN_START}",
        "vlan_end": "${VLAN_END}",
        "network_manager": "${NETWORK_MANAGER}",
        "firewall_driver": "${FIREWALL_DRIVER}"
      },
      "libvirt": {
        "virt_type": "kvm"
      }
    },
    "cinder": {
      "notification_driver": "cinder.openstack.common.notifier.rpc_notifier",
      "platform": {
        "cinder_api_packages": ["openstack-cinder", "openstack-cinder-sce"],
      	"cinder_volume_packages": ["openstack-cinder", "openstack-cinder-sce"],
      	"cinder_scheduler_packages": ["openstack-cinder", "openstack-cinder-sce"],
      	"supporting_packages": ["python-cinderclient", "MySQL-python", "python-keystone", "python-cinder-sce"]
      }
    },
    "stingray": {
      "password": "password",
      "url": "http://${PACKAGESERVER}:8080/stingray.tar.gz",
      "license_key": ""
    },
    "openstack_patch_url": "http://${PACKAGESERVER}:8080/openstack-grizzly/patch/",
    "glance": {
      "image": {
        "precise": "http://${IMAGESERVER}:8080/images/precise-server-cloudimg-amd64-disk1.img",
        "cirros": "http://${IMAGESERVER}:8080/images/cirros-0.3.0-x86_64-uec.tar.gz"
      },
      "images": [
        "cirros",
        "precise"
      ],
      "image_upload": ${IMAGE_UPLOAD},
      "notifier_strategy": "qpid",
      "platform": {
	"grizzly": {
	  "glance_packages": [ "openstack-glance", "python-glance", "python-glanceclient", "cronie", "python-prettytable", "python-argparse", "python-glance-sce" ]
        }	
      }      
    },
    "gpfs": {
      "gpfs_repo": {
         "url": "http://${PACKAGESERVER}:8080/gpfs-3.5.0-7/"
      },
      "upgrade_rpms":"http://${PACKAGESERVER}:8080/gpfs-3.5.0-10/",
      "max_data_replicas": "2",
      "default_data_replicas": "2",
      "max_metadata_replicas": "2",
      "default_metadata_replicas": "1",
      "block_size": "1M",
      "layoutMap": "cluster",
      "numNodes": "32",
      "writeAffinityDepth": "1",
      "logfilesize": "4M",
      "gpfs_device_name": "gpfs_dev",
      "cluster_name" : "${GPFS_CLUSTER_NAME}"
    },
    "quantum": {
      "rpc_backend" : "quantum.openstack.common.rpc.impl_qpid",
      "use_namespaces" : "False",
      "interface_driver" : "quantum.agent.linux.interface.OVSInterfaceDriver",
      "use_rootwrap" : "True",
      "floating_if" : "${FLOATING_IF}",
      "allow_overlapping_ips" : "False",
      "plugin" : "openvswitch",
      "openvswitch": {
        "url": "http://${PACKAGESERVER}:8080/openvswitch",
        "enable_tunneling" : "${ENABLE_TUNNELING}",
        "tunnel_id_range" : "${TUNNEL_ID_RANGE}",
        "enable_tenant_tunnel" : "False",
        "tenant_network_type" : "${TENANT_NETWORK_TYPE}",
        "network_vlan_range" : "${NETWORK_VLAN_RANGE}",
        "bridge_mapping_nic" : "${BRIDGE_MAPPING_NIC}",
        "vm_bridge" : "br-vmnet"
      },
      "platform": {
	"quantum_server_packages": ["openstack-utils", "python-quantumclient", "openstack-quantum", "openstack-quantum-openvswitch", "gedit", "tunctl", "openstack-quantum-openvswitch-sce"],
    	"quantum_ovs_agent_packages": ["openstack-quantum-openvswitch", "gedit", "tunctl", "openstack-quantum-openvswitch-sce"]
      }
    },
    "yum": {
      "rhel": {
        "url": "${RHEL_REPO}",
	    "enabled": "1"
      },
      "openstack": {
        "url": "${OPENSTACK_REPO}",
	    "enabled": "1"
      },
      "sce": {
        "url": "${SCE_REPO}",
	    "enabled": "0"
      },
      "epel": {
        "url": "${EPEL_REPO}",
	    "enabled": "1"
      },
      "addition": {
	"url": "${MIDDLEWARE_REPO}",
	"enabled": "1"
      }
    },
    "developer_mode": false,
    "osops_networks": {
      "nova": "${NOVANET}",
      "management": "${MGMTNET}",
      "public": "${PUBNET}"
    }
  }
}
